/* tailwind */
@import 'tailwindcss';
@config "../tailwind.config.js";

/* hero-ui */
@plugin '../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
